html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin-bottom: 20px;
}

button {
    background-color: black;
    color: white;
}

table {
    border-collapse: collapse;
    margin: 20px;
}

td {
    border: 1px solid #bbb;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background: #888;
}

td.opened { background: white; }
td.flag { background: red; }
td.question { background: orange; }